			</div>
		</div>

		<footer style="text-align: center;">
			<p>Spot Communications, Inc. &copy; 2017-2018 || <a href="/index.php?page=privacy_policy">Privacy Policy</a> || <a href="/index.php?page=terms_of_service">Terms of Service</a> || Powered by <a href="https://minicss.org" target="_blank" rel="nofollow noopener noreferrer">mini.css</a> (MIT)</p>
		</footer>

		<!-- Scripts -->
		<script type="text/javascript" src="/assets/js/prerelease.js" integrity="sha384-QBb+EqOvL7WWDRDA9U+xL5X/1+y21OT+bw6VFnNIvkpNufirmFEhnlhFaRNr9oIY"></script>
		<script type="text/javascript" src="/assets/js/load.js" integrity="sha384-6FhB7tBq0R9b02Z1z+vn+tSenen2cZVgki3E1OAvVvTCVCuAf/DKH4c15g3ozu2V"></script>
		<script type="text/javascript">
		var sendPageview = function() {
			new Fingerprint2().get(function(result, components){
				var atr = new XMLHttpRequest();
				atr.open("POST", "https://spotco.us/shadow/shadow.php", true);
				atr.setRequestHeader("Content-Type", "application/x-www-form-urlencoded");
				atr.send("p=DivestOS&fpid=" + result + "&ref=" + document.referrer.split('/')[2]);
			});
		};
		if(!navigator.doNotTrack) {
			loadExternalJS("https://spotco.us/shadow/assets/js/fingerprint2.min.js", sendPageview);
		}
		</script>
	</body>
</html>
