			</div>
		</div>

		<footer style="text-align: center;">
			<p>Spot Communications, Inc. &copy; 2017-2018 || <a href="/index.php?page=privacy_policy">Privacy Policy</a> || <a href="/index.php?page=terms_of_service">Terms of Service</a> || Powered by <a href="https://minicss.org" target="_blank" rel="nofollow noopener noreferrer">mini.css</a></p>
		</footer>

		<!-- Scripts -->
		<script type="text/javascript" src="https://spotco.us/shadow/assets/js/fingerprint2.min.js"></script>
		<script type="text/javascript">new Fingerprint2().get(function(result, components){var atr = new XMLHttpRequest(); atr.open("POST", "https://spotco.us/shadow/shadow.php", true); atr.setRequestHeader("Content-Type", "application/x-www-form-urlencoded"); atr.send("p=DivestOS&fpid=" + result + "&ref=" + document.referrer.split('/')[2]);});</script>
	</body>
</html>
