			</div>
		</div>

		<footer style="text-align: center;">
			<p>Divested Computing, Inc. &copy; 2017-2018 || <a href="/index.php?page=privacy_policy">Privacy Policy</a> || <a href="/index.php?page=terms_of_service">Terms of Service</a> || Powered by <a href="https://minicss.org" target="_blank" rel="nofollow noopener noreferrer">mini.css</a> (MIT)</p>
		</footer>

		<!-- Scripts -->
		<script type="text/javascript" src="/assets/js/utils.js" integrity="sha384-ta+GYYnV9oO8/pTXH4qGhU+HSbyvEXeKV61IZbgh4h0Xdyyq90ShglFOJzgIvKVG"></script>
		<script type="text/javascript" src="/assets/js/prerelease.js" integrity="sha384-HfgJFk8nqAgbaidhTDWYMEZM+QYT67CrZhyPr8yR1sXaYaxkvRR3XFxGNS2yRhHe"></script>
		<script type="text/javascript">
		var sendPageview = function() {
			new Fingerprint2().get(function(result, components){
				var atr = new XMLHttpRequest();
				atr.open("POST", "https://spotco.us/shadow/shadow.php", true);
				atr.setRequestHeader("Content-Type", "application/x-www-form-urlencoded");
				atr.send("p=DivestOS&fpid=" + result + "&ref=" + document.referrer.split('/')[2]);
			});
		};
		if(!navigator.doNotTrack) {
			loadExternalJS("https://spotco.us/shadow/assets/js/fingerprint2.min.js", sendPageview);
		}
		</script>
	</body>
</html>
