<!DOCTYPE html>
<html lang="en">
	<head>
		<title><?php $title=ucwords(str_replace("&lowbar;", " ", noHTML($_GET["page"]))); if(strlen($title) > 0) { print($title . " - "); } ?>DivestOS Mobile</title>
		<meta charset="utf-8" />
		<meta name="theme-color" content="#212121">
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<link async href="images/favicon.png" rel="shortcut icon" integrity="sha384-7loQf2TJ+siBPhi5idRnLCRdWHrbtisZKlxOJBPPkcI+PYjbJHmQvzIhAL+xEIUV+g==">
		<?php if($saveData === false) : ?><link rel="stylesheet" href="assets/css/fira.css" integrity="sha384-FUxnsCo04IVl6llAlpQgwVrdyNBKk6Vzx3kPMqpJhG5gP4/a7e4y469NwYNaLgbj"><?php endif; ?>
		<?php
			$lightTheme = '<link rel="stylesheet" href="assets/css/mini-default.min.css" integrity="sha384-grfnlbFNIiMDbCsJPG8vpNan6LXDYRloFcUlQIoW/t6XRE+tbZtlffNIRcIuq96o">' . PHP_EOL;
			$darkTheme = '<link rel="stylesheet" href="assets/css/mini-dark.min.css" integrity="sha384-Ea4sveuxxdZqzlfaDF0+BttWvyhbyRMMQzOVgvZH83dXvg0WNWa6AGdE07uI0VhC">' . PHP_EOL;
			$splashCSS = '<link rel="stylesheet" href="assets/css/splash.css" integrity="sha384-bg1hY/7L94gRkUwN9g3UzwW+z7p2fejWlGiT5TsFFvcNor7ndhItss/SsJPE+wSG">' . PHP_EOL;
			$splashCSSDark = '<link rel="stylesheet" href="assets/css/splash-dark.css" integrity="sha384-mpty26abkG9GYzjFDiORzz4fzc3sYFiyatTZ/EoHOLfJMfKM/PXLKi/hL8nOGgEd">' . PHP_EOL;

			if($SBNR_GEN_DARKMODE) {
				print($darkTheme);
				if($pageIsHome) { print($splashCSSDark); }
			} else {
				print($lightTheme);
				if($pageIsHome) { print($splashCSS); }
			}
		?>
		<link rel="stylesheet" href="assets/css/extras.css" integrity="sha384-dmXLXj/JNtbnD7lJ6CSV3T+xFuFLYnSnm7VinPb7rAobh9MQbmd4W69fD1W1ZQge">
	</head>

	<?php
		if($SBNR_OBF_DISABLE_CLIPBOARD || $SBNR_AT_CAPTCHA_WALL) { //Credit (CC BY-SA 3.0): https://stackoverflow.com/a/21743328
			$bodyOverrides .= ' oncopy="return false;" oncut="return false;" onpaste="return false;"';
		}
		if($SBNR_OBF_DISABLE_HIGHLIGHT || $SBNR_AT_CAPTCHA_WALL) { //Credit (CC BY-SA 4.0): https://stackoverflow.com/a/4407335
			$bodyOverrides .= ' draggable="false" ondragstart="return false;"';
			$styleOverrides .= ' user-drag: none;';
			$styleOverrides .= ' user-select: none; -khtml-user-select: none; -moz-user-select: none; -ms-user-select: none; -o-user-select: none; -webkit-touch-callout: none; -webkit-user-select: none;';
		}
		if($SBNR_OBF_DISABLE_RIGHT_CLICK || $SBNR_AT_CAPTCHA_WALL) {
			$bodyOverrides .= ' oncontextmenu="return false;"';
		}
		print ('<body ' . $bodyOverrides . ' style="' . $styleOverrides . '" >');
	?>

		<?php if($pageIsHome && !$SBNR_AT_CAPTCHA_WALL) : ?>
		<div class="index-splash">
			<div class="index-splash-bg" id="splash"></div>
			<h1 class="splash">DivestOS Mobile</h1>
			<p class="splash">A mobile operating system divested from the norm.<br><small><em>"take back (some) control of your device"</em></small></p>
			<a class="scroll" href="#content">▼</a>
		</div>
		<?php endif; ?>

		<?php if(!$SBNR_AT_CAPTCHA_WALL) : ?>
		<?php if($SBNR_GEN_ONE_PAGE) : ?>
		<header class="sticky centero">
			<a href="index.php#splash" class="logo" style="color: #FF5722; font-weight: bold;">DivestOS Mobile</a>
			<label for="drawer-control" class="button drawer-toggle"></label>
		</header>

		<input type="checkbox" id="drawer-control" class="drawer">
		<nav class="hidden-md hidden-lg">
			<label for="drawer-control" class="drawer-close"></label>
		</nav>
		<div class="row" id="content">
			<div class="col-sm-12 col-md-8 col-md-offset-2 col-lg-6 col-lg-offset-3">
		<?php else : ?>
		<header class="sticky" style="text-align: center;">
			<a href="index.php" class="logo col-sm-3" style="color: #FF5722; font-weight: bold;">DivestOS Mobile</a>
			<label for="drawer-control" class="button drawer-toggle"></label>
		</header>
		<div class="row" id="content">
			<input type="checkbox" id="drawer-control" class="drawer">
			<nav class="col-md-3 col-lg-2">
				<label for="drawer-control" class="drawer-close"></label>
				<a href="index.php?page=home">Home</a>
				<span>Get Started</span>
					<a class="sublink-1" href="index.php?page=preloaded">Preloaded Devices</a>
					<a class="sublink-1" href="index.php?page=bootloader">Bootloader Unlocking</a>
					<a class="sublink-1" href="index.php?page=devices&base=LineageOS">Device Downloads</a>
					<a class="sublink-1" href="index.php?page=post_install">Post Install</a>
					<a class="sublink-1" href="index.php?page=our_apps">Our Apps</a>
					<a class="sublink-1" href="index.php?page=recommended_apps">Recommended Apps</a>
				<span>Docs</span>
					<a class="sublink-1" href="index.php?page=faq">FAQ</a>
					<a class="sublink-1" href="index.php?page=news">News</a>
					<a class="sublink-1" href="index.php?page=history">History</a>
					<a class="sublink-1" href="index.php?page=screenshots">Screenshots</a>
					<a class="sublink-1" href="index.php?page=troubleshooting">Troubleshooting</a>
					<a class="sublink-1" href="index.php?page=patch_levels">Patch Levels</a>
					<a class="sublink-1" href="index.php?page=technical_details">Technical Details</a>
					<a class="sublink-1" href="index.php?page=network_connections">Network Connections</a>
					<a class="sublink-1" href="index.php?page=saving_data">Saving Data</a>
					<a class="sublink-1" href="index.php?page=browsers">Browser Tables</a>
					<a class="sublink-1" href="index.php?page=messengers">Messenger Tables</a>
					<a class="sublink-1" href="index.php?page=broken">Functionality Tables</a>
					<a class="sublink-1" href="index.php?page=build">Build Guide</a>
				<a href="https://gitlab.com/divested-mobile" target="_blank" rel="nofollow noopener noreferrer">Source Code on GitLab</a>
				<a href="https://github.com/divested-mobile" target="_blank" rel="nofollow noopener noreferrer">Source Code on GitHub</a>
				<a href="https://divested.dev/donate" target="_blank" rel="nofollow noopener noreferrer">Donate</a>
				<a href="index.php?page=about">About</a>
				<br><br>
			</nav>

			<div class="col-sm-12 col-md-9 col-lg-10">
		<?php endif; ?>
		<?php else : ?>
		<div class="row" id="content">
			<div class="col-sm-12 col-md-8 col-md-offset-2 col-lg-6 col-lg-offset-3">
		<?php endif; ?>
