<!DOCTYPE html>
<html lang="en">
	<head>
		<title><?php $title=ucwords(str_replace("&lowbar;", " ", noHTML($_GET["page"]))); if(strlen($title) > 0) { print($title . " - "); } ?>DivestOS</title>
		<meta charset="utf-8" />
		<meta name="theme-color" content="#212121">
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<meta name="robots" content="noindex, nofollow, noarchive, nosnippet, noodp, notranslate, noimageindex">
		<link href="/images/favicon.png" rel="shortcut icon" integrity="sha384-7loQf2TJ+siBPhi5idRnLCRdWHrbtisZKlxOJBPPkcI+PYjbJHmQvzIhAL+xEIUV+g==">
		<?php
			$lightTheme = '<link rel="stylesheet" href="assets/css/mini-default.min.css" integrity="sha384-uuZR69sRtjlogJ2VrzcX2LPt8oh8jjzb3CC5pmnNzgF/MLBrY6D0TUb6vOfgntkB">';
			$darkTheme = '<link rel="stylesheet" href="assets/css/mini-dark.min.css" integrity="sha384-EHgOgCZATTGq0H0kZ60aqSR8KBABFxWXv8vNCYQK37ct14GcGR+ZMkCntjeQhBQX">';

			$darkThemeCookie = noHTML($_COOKIE["DARK_THEME"]);
			if($darkThemeCookie === "true") {
				print($darkTheme);
			} else {
				print($lightTheme);
			}
		?>
	</head>

	<body>
		<header class="sticky" style="text-align: center;">
			<a href="/index.php" class="logo col-sm-3" style="color: #FF5722;">DivestOS</a>
			<label for="drawer-control" class="button drawer-toggle"></label>
		</header>

		<div class="row">
			<!-- Navigation -->
			<input type="checkbox" id="drawer-control" class="drawer">
			<nav class="col-md-3 col-lg-2">
				<label for="drawer-control" class="drawer-close"></label>
				<a href="/index.php?page=home">Home</a>
				<span>Get Started</span>
					<a class="sublink-1" href="/index.php?page=bootloader">Bootloader Unlocking</a>
					<a class="sublink-1" href="/index.php?page=devices&base=LineageOS">Device Downloads</a>
					<a class="sublink-1" href="/index.php?page=post_install">Post Install</a>
					<a class="sublink-1" href="/index.php?page=our_apps">Our Apps</a>
					<a class="sublink-1" href="/index.php?page=recommended_apps">Recommended Apps</a>
					<a class="sublink-1" href="/index.php?page=extras">Extras</a>
				<span>Docs</span>
					<a class="sublink-1" href="/index.php?page=faq">FAQ</a>
					<a class="sublink-1" href="/index.php?page=screenshots">Screenshots</a>
					<a class="sublink-1" href="/index.php?page=troubleshooting">Troubleshooting</a>
					<a class="sublink-1" href="/index.php?page=technical_details">Technical Details</a>
					<a class="sublink-1" href="/index.php?page=browsers">Browser Tables</a>
					<a class="sublink-1" href="/index.php?page=messengers">Messenger Tables</a>
					<a class="sublink-1" href="/index.php?page=broken">Functionality Tables</a>
					<a class="sublink-1" href="/index.php?page=build">Build Guide</a>
				<a href="https://git.spotco.us/DivestOS" target="_blank" rel="nofollow noopener noreferrer">Source Code (GPLv3)</a>
				<a href="/index.php?page=about">About</a>
				<!-- TODO: Replace this with a <form> to provide functionality to users with JavaScript disabled -->
				<script type="text/javascript">

					function toggleDarkTheme() {
						setCookie("DARK_THEME", (getCookie("DARK_THEME") != "true"), 30);
						location.reload();
					}
					var toggleTheme = '<a href="javascript:toggleDarkTheme();">Toggle dark theme</a>';
					document.write(toggleTheme);
				</script>
			</nav>

			<!-- Content -->
			<div class="col-sm-12 col-md-9 col-lg-10">
